In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 
""" deneme """
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from scipy.stats import pearsonr

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))
houseData = pd.read_csv("../input/kc_house_data.csv")
# Any results you write to the current directory are saved as output.
#controlling that is everything okay
#printing first 10 rows(pandas)
houseData.head(n=10)

# Check any number of columns with NaN
print(houseData.isnull().any().sum(), ' / ', len(houseData.columns))
# Check any number of data points with NaN
print(houseData.isnull().any(axis=1).sum(), ' / ', len(houseData))

#clean id and date columns(pandas)
#axis=1 means, drop from columns
houseData= houseData.drop(['id', 'date','lat','long'],axis=1)

#!formatting of price column
average = houseData.groupby('zipcode')['price'.rstrip('0')].mean()

print(average)
houseData.head(n=10)

['kc_house_data.csv']
0  /  21
0  /  21613
zipcode
98001    2.808047e+05
98002    2.342840e+05
98003    2.941113e+05
98004    1.355927e+06
98005    8.101649e+05
98006    8.596848e+05
98007    6.171051e+05
98008    6.455074e+05
98010    4.236660e+05
98011    4.903515e+05
98014    4.556171e+05
98019    4.247887e+05
98022    3.157093e+05
98023    2.867328e+05
98024    5.805268e+05
98027    6.169906e+05
98028    4.624800e+05
98029    6.126536e+05
98030    2.961880e+05
98031    3.005399e+05
98032    2.512962e+05
98033    8.037195e+05
98034    5.216529e+05
98038    3.668676e+05
98039    2.160607e+06
98040    1.194230e+06
98042    3.116321e+05
98045    4.394711e+05
98052    6.452315e+05
98053    6.781631e+05
             ...
98092    3.349211e+05
98102    9.012583e+05
98103    5.849192e+05
98105    8.628252e+05
98106    3.195814e+05
98107    5.790534e+05
98108    3.556785e+05
98109    8.796236e+05
98112    1.095499e+06
98115    6.199005e+05
98116    6.186342e+05
98117    5.767950e+05
98118    4.176374e+05
98119    8.494480e+05
98122    6.343602e+05
98125    4.694558e+05
98126    4.247064e+05
98133    3.869974e+05
98136    5.516887e+05
98144    5.945477e+05
98146    3.594832e+05
98148    2.849086e+05
98155    4.237257e+05
98166    4.642318e+05
98168    2.403284e+05
98177    6.761854e+05
98178    3.106128e+05
98188    2.890783e+05
98198    3.028789e+05
98199    7.918208e+05
Name: price, Length: 70, dtype: float64

       price  bedrooms     ...      sqft_living15  sqft_lot15
0   221900.0         3     ...               1340        5650
1   538000.0         3     ...               1690        7639
2   180000.0         2     ...               2720        8062
3   604000.0         4     ...               1360        5000
4   510000.0         3     ...               1800        7503
5  1225000.0         4     ...               4760      101930
6   257500.0         3     ...               2238        6819
7   291850.0         3     ...               1650        9711
8   229500.0         3     ...               1780        8113
9   323000.0         3     ...               2390        7570

[10 rows x 17 columns]

In [3]:
#What would you segment price on (3 factors)
#ANSWER: sqft_living,grade ,sqft_above because they have high correlations with price
#iloc[:,1:]-> whole rows and columns starting from bedrooms,
#epsilon contains 
epsilon = houseData.iloc[:,1:].columns.tolist()
target = houseData.iloc[:,0].name
correlations = {}
for f in epsilon:
    data_temp = houseData[[f,target]]
    x1 = data_temp[f].values
    x2 = data_temp[target].values
    key = f + ' vs ' + target
    correlations[key] = pearsonr(x1,x2)[0]
    
data_correlations = pd.DataFrame(correlations, index=['Value']).T
data_correlations.loc[data_correlations['Value'].abs().sort_values(ascending=False).index]

                           Value
sqft_living vs price    0.702035
grade vs price          0.667434
sqft_above vs price     0.605567
sqft_living15 vs price  0.585379
bathrooms vs price      0.525138
view vs price           0.397293
sqft_basement vs price  0.323816
bedrooms vs price       0.308350
waterfront vs price     0.266369
floors vs price         0.256794
yr_renovated vs price   0.126434
sqft_lot vs price       0.089661
sqft_lot15 vs price     0.082447
yr_built vs price       0.054012
zipcode vs price       -0.053203
condition vs price      0.036362

In [8]:
average = houseData.groupby('zipcode')['price'].mean()
print(average)

zipcode
98001    2.808047e+05
98002    2.342840e+05
98003    2.941113e+05
98004    1.355927e+06
98005    8.101649e+05
98006    8.596848e+05
98007    6.171051e+05
98008    6.455074e+05
98010    4.236660e+05
98011    4.903515e+05
98014    4.556171e+05
98019    4.247887e+05
98022    3.157093e+05
98023    2.867328e+05
98024    5.805268e+05
98027    6.169906e+05
98028    4.624800e+05
98029    6.126536e+05
98030    2.961880e+05
98031    3.005399e+05
98032    2.512962e+05
98033    8.037195e+05
98034    5.216529e+05
98038    3.668676e+05
98039    2.160607e+06
98040    1.194230e+06
98042    3.116321e+05
98045    4.394711e+05
98052    6.452315e+05
98053    6.781631e+05
             ...
98092    3.349211e+05
98102    9.012583e+05
98103    5.849192e+05
98105    8.628252e+05
98106    3.195814e+05
98107    5.790534e+05
98108    3.556785e+05
98109    8.796236e+05
98112    1.095499e+06
98115    6.199005e+05
98116    6.186342e+05
98117    5.767950e+05
98118    4.176374e+05
98119    8.494480e+05
98122    6.343602e+05
98125    4.694558e+05
98126    4.247064e+05
98133    3.869974e+05
98136    5.516887e+05
98144    5.945477e+05
98146    3.594832e+05
98148    2.849086e+05
98155    4.237257e+05
98166    4.642318e+05
98168    2.403284e+05
98177    6.761854e+05
98178    3.106128e+05
98188    2.890783e+05
98198    3.028789e+05
98199    7.918208e+05
Name: price, Length: 70, dtype: float64